<!-- Wappler include head-page="layouts/musicianslayout" is="dmx-app" id="musicians" appConnect="local" bootstrap5="local" fontawesome_6="local" components="{dmxBootstrap5Navigation:{}}" -->
<div class="container text-light bg-dark">
    <header>
        <nav class="navbar navbar-expand-lg text-light bg-transparent" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Musician's<br>Page</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1_collapse" aria-controls="navbar1_collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar1_collapse">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="#">Add Videopage</a>
                        <a class="nav-item nav-link" href="#">Bio</a>
                        <a class="nav-item nav-link" href="#">List all Videos</a>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbar1_dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbar1_dropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                        <a class="nav-item nav-link disabled" href="#">Disabled</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-4 align-self-center offset-0 col-lg-3">
                    <div class="d-flex">
                        <h6>Your Best Viewed Videos:</h6>
                    </div>
                    <div class="row border-0">
                        <div class="col-lg-8 border-0">
                            <div class="d-flex text-center text-light">
                                <div class="list-group w-auto bg-transparent">
                                    <a href="#" class="list-group-item list-group-item-action w-auto bg-transparent" id="itemAction1">
                                        Action List item</a>
                                    <a href="#" class="list-group-item list-group-item-action bg-transparent" id="itemAction2">Action List item</a>
                                    <a href="#" class="list-group-item list-group-item-action" id="itemAction3">Action List item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="align-self-center col-lg-3">
                    <h6>Most commented on:</h6>
                    <div class="d-flex">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action" id="itemAction4">Action List item</a>
                            <a href="#" class="list-group-item list-group-item-action" id="itemAction5">Action List item</a>
                            <a href="#" class="list-group-item list-group-item-action" id="itemAction6">Action List item</a>
                        </div>
                    </div>
                </div>
                <div class="col align-self-center">
                    <div class="row">
                        <div class="col">
                            <div class="d-flex">
                                <h6>Views per video, per day:</h6>
                            </div>
                            <div class="row">
                                <div class="col">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col"></div>
    </div>
</div>


<meta name="ac:route" content="/musician/musicians">