<!-- Wappler include head-page="layouts/main" id="index" bootstrap5="local" is="dmx-app" appconnect="local" fontawesome_6="local" style="--bs-body-bg: #1b1f22;" -->
<meta name="ac:route" content="/">
<div class="container mt-2">
    <div class="row mt-0">
        <div class="col mt-4">
            <h1 class="text-light">Home Page</h1>
        </div>
    </div>
</div>