<!-- Wappler include head-page="layouts/main" is="dmx-app" id="resetpassword" appConnect="local" bootstrap5="local" fontawesome_6="local" components="{dmxValidator:{},dmxAnimateCSS:{}}" -->
<div class="rounded rounded-1 container bg-dark text-center text-lg-start mt-5" id="resetpassword">
    <h1 class="text-light text-lg-center">Reset password</h1>
    <div class="row mt-4 row-cols-7 text-lg-center">
        <div class="col rounded rounded-1">
            <form id="form1_passwordreset" is="dmx-serverconnect-form" method="post" action="/api/registration/resetpassword" dmx-on:success="browser1.goto('/resetpassword2')">
                <div class="form-group mb-3 row">
                    <div class="col-lg-3 me-lg-5"></div>
                    <div class="col-sm-10 col-lg-5 col-7">
                        <input type="text" class="form-control form-control-lg ms-sm-1" id="email" name="email" aria-describedby="input1_help" placeholder="Enter your emailaddress please...">
                    </div>
                </div>
            </form>
            <button id="btn1" class="btn btn-primary text-light mb-3 mt-lg-3" type="submit" dmx-animate-enter.duration:400.delay:200="fadeIn" dmx-on:click="form1_passwordreset.submit()">Send reset link</button>
        </div>
    </div>
</div>

<meta name="ac:route" content="/resetpassword">