<!-- Wappler include head-page="layouts/main" is="dmx-app" id="resetpassword" appConnect="local" bootstrap5="local" fontawesome_6="local" components="{dmxValidator:{},dmxAnimateCSS:{},dmxFormatter:{}}" -->
<div class="rounded rounded-1 container bg-dark text-lg-start mt-5 text-center" id="resetpassword">

    <div class="row">
        <div class="col-3"></div>
        <div class="mb-3 text-center col-6">
            <h1 class="text-light text-lg-center mt-5">Reset password</h1>


        </div>
        <div class="col-3">
            <button id="btn3" class="btn text-end text-light mt-3 ms-0" dmx-on:click="formpasswdreset.reset();browser1.goto('/')"><i class="fa-regular fa-circle-xmark fa-lg fa-fade" style="--fa-animation-delay: 0.2s; --fa-animation-duration: 1s; --fa-animation-iteration-count: 1; --fa-animation-timing: ease-in;"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col text-light">
            <form id="formpasswdreset" is="dmx-serverconnect-form" method="post" action="/api/registration/resetpassword">
                <input id="textemail1" name="textemail1" type="hidden" class="form-control" dmx-bind:value="conn_layout_whoami.data.query_who_am_i[0].email">
                <div class="row">
                    <div class="text-center col-3">

                    </div>
                    <div class="col-6">
                        <div class="form-group mb-3 col"> <label for="textemail2" class="form-label">Enter your emailaddress please</label>

                            <input type="text" class="form-control" id="textemail2" name="textemail2" aria-describedby="input1_help" placeholder="Enter your emailaddress" required="" data-rule-email="">
                        </div>
                    </div>
                    <div class="col-3">
                    </div>
                    <div class="col">
                        <div class="row text-center"><label for="textemail2" class="form-label">You will receive an email with a confirmation link<br>&nbsp; after you hit the reset button</label></div>
                    </div>

                </div>

            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6 offset-2 text-center">
            <button id="btn1" class="btn btn-secondary btn-sm" dmx-on:click="browser1.goto('/')">Close</button>
            <button id="btn2" class="btn btn-primary btn-sm" dmx-on:click="run({condition:{outputType:'boolean',if:`(content.formpasswdreset.textemail1.value == content.formpasswdreset.textemail2.value)`,then:{steps:[{run:{outputType:'text',action:`form1.submit()`}},{run:{outputType:'text',action:`notifies1.info(\'Confirmation email on the way!\')`}},{run:{outputType:'text',action:`form1.reset()`}},{run:{outputType:'text',action:`browser1.goto(\'/resetpassword2\')`}}]},else:{steps:[{run:{outputType:'text',action:`formpasswdreset.reset();notifies1.warning(\'Your email is not in the database, try again please...\')`}},{wait:{delay:2000}},{run:{outputType:'text',action:`browser1.goto(\'/resetpassword\')`}}]}}})">Reset</button>
        </div>
    </div>

</div>

<meta name="ac:route" content="/resetpassword">