<!-- Wappler include head-page="layouts/main" is="dmx-app" id="resetpassword2" appConnect="local" bootstrap5="local" fontawesome_6="local" components="{dmxValidator:{},dmxBootstrap5Alert:{}}" -->
<meta name="ac:route" content="/resetpassword2">

<div class="container bg-dark text-center text-lg-start mt-5" id="resetpassword2">
    <div class="row border-1"></div>
    <h1 class="text-light text-lg-center mb-3">Reset password</h1>
    <div class="row mt-4 row-cols-7 text-lg-center">
        <div class="col rounded rounded-1">
            <form id="form1_passwordreset" is="dmx-serverconnect-form" method="post" action="/api/registration/update_password" dmx-on:invalid="alert1.setTextContent('Errormessage: '+lastError.message+' So.... Something went wrong... Please check your mailbox and use the link provided to change the password. ');alert1.show()" dmx-on:success="notifies1.success('Success! Password updated!');form1_passwordreset.reset();browser1.goto('/')">
                <div class="form-group mb-3 row">
                    <div class="col-lg-3 me-lg-5"></div>
                    <div class="col-sm-10 col-lg-5 text-center col-7">
                        <input type="text" class="form-control form-control-lg ms-sm-1 mt-3" id="newpassword" name="newpassword" aria-describedby="input1_help" placeholder="Enter your new password here please..." required="">
                        <input id="newpassword2" name="newpassword2" type="text" class="form-control form-control-lg mt-5 mb-4" placeholder="And here again please, for confirmation." required="" data-rule-equalto="newpassword" data-msg-equalto="Your two passwords don't match...">
                        <div class="alert text-danger" id="alert1" is="dmx-bs5-alert" role="alert" type="warning">
                            <p>This is a nice alert!</p>
                        </div>
                        <input id="email" name="email" type="hidden" class="form-control" dmx-bind:value="query.email">
                        <input id="hash" name="hash" type="hidden" class="form-control" dmx-bind:value="query.id">
                    </div>
                </div>
            </form>
            <button id="btn1" class="btn btn-primary text-light mb-3 mt-lg-3" type="submit" dmx-animate-enter.duration:400.delay:200="fadeIn" dmx-on:click="">Send reset link</button>
        </div>
    </div>
</div>