<!-- Wappler include head-page="layouts/main" is="dmx-app" id="TermsAndConditions" appConnect="local" bootstrap5="local" fontawesome_6="local" -->
<meta name="ac:route" content="/TermsAndConditions">
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Terms and Conditions</h1>
        </div>
    </div>
</div>