<!-- Wappler include head-page="layouts/admin" is="dmx-app" id="adminhome" appConnect="local" bootstrap5="local" fontawesome_5="cdn" -->
<meta name="ac:route" content="/lgadmin">
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Adminpage</h1>
        </div>
    </div>
</div>